/* .owl-carousel-holder{
    width:50%;
    float: left;
}

.carousel-section{
    width: 50%;
    height: 200px;
    float: left;
    margin-top: 30px;
}

.slider-image-section{
    width: 50%;
    height:200px;
    float: left;
} */